* {
    box-sizing: border-box; 
}

body {
    margin: 0;
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 10px; 
}

.flex {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem; 
}

.todo__container {
    background-color: white;
    margin: 0 auto;
    width: 100%;
    max-width: 30rem;
    padding: 2rem 0; 
}

.todo__title {
    text-align: center;
    margin: 0;
    margin-bottom: 2rem; 
}

.todo-form__input {
    width: 100%;
    padding: 1rem; 
}

.todo-form__btn {
    background-color: purple;
    text-transform: uppercase;
    color: white;
    width: 100%;
    display: inline-block;
    border: none;
    font-weight: bold;
    padding: 1rem;
    cursor: pointer; 
}

.todo-form__btn:hover {
    background-color: lightslategray; 
}

.todo__tarefas-lista {  
    padding: 0; 
}

.todo__tarefas-lista li {
    border-bottom: 1px solid #ccc;
    padding: 0.5rem;
    font-size: 1rem;
    list-style: none;
    padding-left: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between; 
}

.todo__tarefas-lista li .checked {
    color: #ccc;
    text-decoration: line-through; 
}

.todo__tarefas-lista li.over {
    border: 1px dashed #ccc; 
}

.todo__btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo__btn-container button {
    padding: 0.7rem;
    margin: 0.5rem 1rem;
    border-color: #ecc4ff;
    border-radius: 14.5px;
    background-color: #ecc4ff;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
} 